*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.hero-header{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: #222;

}
.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;

}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.logo{
    display:inline-flex;
    justify-content: center;
    align-items: center;

}
.logo i{
    height: 45px;
    width: 45px;
    background-color: #007ced;
    border-radius: 50%;
    color: #fff;
    font-weight:700;
    font-size: 1.5rem;
    padding:10px;
    margin-right: 50px;
    cursor:pointer;
    text-align: center;
}
.logo .logo-text{
    font-size: 24px;
    color: #fff;
    font-weight:500;
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor:pointer;
    display: none;

}
nav .togglebtn span{
    display:block;
    background-color: #007ced;
    margin:50px 0;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
nav .navlinks{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display:inline-block;

}
nav .navlinks li a{
    color: #e5e5e5;
    margin-right: 2.5rem;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);

}
.hero-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);

}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    font-size: 14px;
    color: #e5e5e5;

}
.hero-text h5 span{
    font-size: 16px;
    color: #007ced;


}
.hero-text h1{
    font-size: 3rem;
    color: #007ced;
}
.hero-text p{
    color: #e5e5e5;

}
.btn-group{
    margin: 45px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgba(0,0,0,0.78);
    cursor: pointer;
    transition: 0.3s;
}

.btn-group .btn,
.cert-row .btn{
    min-width: 140px;
    text-align: center;
}
.btn-group .btn:hover{
    background-color: #007ced;
    border-color: #007ced;
}
.btn.active{
    border-color: #007ced;
    background-color: #007ced;
}
.cert-row{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.btn.cert{
    display: inline-flex;
}
.hero-text .social{
    display: flex;
    gap: 15px;
}
.hero-text .social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.hero-text .social i{
    color: #e5e5e5;
    font-size:18px;
    margin-right:10px;
    transition:0.5s;
}
.hero-text .social i:hover{
    color:#007ced;
    transform:rotate(360deg);
}
/* Responsive */
@media (max-width: 930px)
{
    nav .togglebtn{
        display:initial;

    }
    /*for the toggle button*/
    .click{
        top:45px;
    }
}
.click span{
    position: absolute;
    margin-top: 12px;

}
.click span:first-child{
    transform: rotate(-40deg);
}
.click span:nth-child(2){
    opacity: 0;
    margin: 0;
}
.click span:last-child{
    transform: rotate(45deg);
    top:0;
}
nav .navlinks{
    position: absolute;
    top: 110px;
    right: -100%;
    bottom:0;
    width: 60%;
    height: 100vh;
    background-color: #222;
    z-index: 3;
    box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
    transition: 0.5s;
    padding: 25px 0px;
}
 
nav .navlinks li{
    display:block;
    margin-bottom:15px;
    text-align:center;
}
nav .navlinks.open{
    right:0;
}
@media (max-width: 768px) {
    .container{
        flex-direction: column;
        padding-top:2rem;
    }
    .hero-text{
        padding:40px 0px;
    }
}
    
